@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?3330833');
  src: url('../font/fontello.eot?3330833#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?3330833') format('woff2'),
       url('../font/fontello.woff?3330833') format('woff'),
       url('../font/fontello.ttf?3330833') format('truetype'),
       url('../font/fontello.svg?3330833#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3330833#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mp-qrcode:before { content: '\66'; } /* 'f' */
.icon-mp-share:before { content: '\67'; } /* 'g' */
.icon-mp-file-word:before { content: '\69'; } /* 'i' */
.icon-mp-tumblr:before { content: '\0166'; } /* 'Ŧ' */
.icon-mp-minus:before { content: '\0235'; } /* 'ȵ' */
.icon-mp-folder-oe:before { content: '\0600'; } /* '؀' */
.icon-mp-user-c:before { content: '\0601'; } /* '؁' */
.icon-mp-clock:before { content: '\0602'; } /* '؂' */
.icon-mp-facebook:before { content: '\0610'; } /* 'ؐ' */
.icon-mp-tumblr-rect:before { content: '\0656'; } /* 'ٖ' */
.icon-mp-twitter1:before { content: '\0662'; } /* '٢' */
.icon-mp-linkedin:before { content: '\0665'; } /* '٥' */
.icon-mp-inc:before { content: '\0668'; } /* '٨' */
.icon-mp-fbc:before { content: '\0698'; } /* 'ژ' */
.icon-mp-plus:before { content: '\0987'; } /* 'ই' */
.icon-mp-pinterest:before { content: '\2354'; } /* '⍔' */
.icon-mp-play-c2:before { content: '\2546'; } /* '╆' */
.icon-mp-tag:before { content: '\2548'; } /* '╈' */
.icon-mp-twitter:before { content: '\3256'; } /* '㉖' */
/* X (formerly Twitter) icon using SVG background */
.icon-mp-x {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: .2em;
  margin-left: .2em;
}
.icon-mp-x:before { content: ''; } /* Override default icon behavior */
.icon-mp-play-c:before { content: '\9568'; } /* '镨' */
.icon-mp-aright:before { content: '\a652'; } /* 'Ꙓ' */
.icon-mp-read-time:before { content: '\f1e0'; } /* '' */
.icon-mp-aleft:before { content: '򩡖'; } /* '\a9856' */
